.burger-btn {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition-property: transform, top, bottom;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &__span {
    position: absolute;
    display: block;
    top: calc(50% - 1px);
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: transform 0.3s ease-in-out;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.7;
    }
  }

  &.focus-visible {
    opacity: 0.7;
  }

  &._active::before {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }

  &._active::after {
    transform: rotate(-45deg);
    bottom: calc(50% - 1px);
  }

  &._active .burger-btn__span {
    transform: scale(0);
  }
}
